

/* ******************************************************** IN GERNERAL ************************************** */
*{
    margin:0px;
    padding:0px;
    
}
.bold{
    font-weight: bold;
}
h1,h2,h3{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}
p{
    font-family: sans-serif;
}
/* ********************************************************* HEADER *********************************************/
.header{
    background-image:url('/media/header_background_03.png');
    background-repeat: no-repeat;
    background-size:100%;
    height:500px;
}
.header h1{
    text-align: center;
    color:#F5C453;
    font-weight:700;
    font-size:4em;
    font-family:'Fira Sans', sans-serif;
    padding-top:4%;
}
.header p{
    text-align:center;
    color:#F5C453;
    font-family: 'Fira Sans', sans-serif;
    font-size:20px;    
}
.menu{
    margin-top:20px;
    margin-right:20px;
    top:20px;
    right:20px;
    float:right;
    position:fixed;
}
.menu:after{
    display:block;
    content:"";
    clear:both;
}
.menuButton{
    cursor: pointer;
    width:63px;
    border:2px solid #F5C453;
    height:30px;
    border-radius: 25px;
    background-color:white;
    font-weight:100;
    font-size:20px;
    color:grey;

    
}
.navigation{
    opacity:1;
    background-color:white;
    margin-top:10px;
    padding:5px;
    border:2px solid #F5C453;
}
.navigation ul{
    list-style-type: none;
}
.navigation li{
    text-align: center;
    margin-bottom: 5px;

}
.navigation a{
    color:grey;
    text-decoration: none;
}
.navigation a:hover{
    color:#F5C453;
}
.home{
    display:none;
}
header:after{
    content:"";
    display:table;
    clear:both;
}

/* ****************************************************** INDEX ******************************************************* */
.index_board{
    padding-top:100px;
    width:80%;
    margin:auto;
}
.index_board:after{
    content:"";
    display:table;
    clear:both;
}
.index_articles_board{
    margin-right:5px;
    background-color:#eeeeee;
    /* height:1000px; */
}

/* ****************************************************** INDEX ARTICLES ********************************************************** */

.article_div_id{
    width:90%;
    padding-top:20px;
    padding-bottom:20px;
    margin:auto;
    cursor: pointer;
    margin-bottom:20px!important;
    height:325px;
}
article_div_id:after{
    content:"";
    display:table;
    clear:both;
}
/* ARTICLE IMAGE-- ------------------------- */
.article{
    float:left;
    width:33%;
    height:325px;
    background-color:white;
}
.article img{
    width:80%;
    border:1px solid #F5C453;
    margin:40px;
}
/* ARTICLE TEXT ---------------------------- */
.article_text{
    height:325px;
    float:left;
    width:66%;
    background-color:white;
    /* padding-top:20px */
}
.article_description{
    font-size:18px;
}
.article_text h2{
    /* text-align: center; */
    margin-top:40px;
    width:90%;
    color:#F5C453;
    font-size:30px;
}
.article_date{
    margin:10px 0px;
    color:grey;
    font-size:12px!important;
}

/* ****************************************************** ARTICLES ************************************************* */
.articleWrapper:after{
    display: table;
    clear: both;
    content: "";
}
.add1{
    width:25%;
    float:left;
}

/* ARTICLE =========== */
.oneArticle{
    width:45%;
    float:left;
    background-color:lightgrey;
    padding:10px;
}
.oneArticle h2{
    text-align: center;
    margin-bottom: 20px;
}
.oneArticleImg img{
    display: block;
    margin: auto;
}
.oneArticleText{
    margin-top:20px;
}
.related{
    background-color:grey;
    width:100%;
    margin-bottom: 10px;
}
.add2{
    width:25%;
    float:left;
}

/* **************************************************** FOOTER ***************************************************** */

.footer{
    height:300px;
    background-color:#2a3b4e;
}